.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
  border-radius: 0.4rem;
  overflow: hidden;
}

.thumb {
  width: 320px;
  height: 190px;
}

.title {
  margin-bottom: var(--base-padding);
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  background-color: rgba(30, 30, 30, 90%);
  width: 100%;
  top: 0;
  left: 0;
  height: 0%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover {
  border-color: var(--accent-color);
  transition: border-color 0.5s ease-in-out;
  font-size: 0.8rem;

  .overlay {
    height: 100%;
    padding: 2em 0 0 2em;
    transition: height 0.5s ease-in-out;
    transition: padding 0.5s ease-in-out;
  }
}
