.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.title {
  margin-bottom: var(--base-padding);
}

.img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.overlay {
  position: absolute;
  background-color: rgba(30, 30, 30, 90%);
  width: 100%;
  top: 0;
  left: 0;
  height: 0%;
  overflow: hidden;
}

.card:hover {
  border-color: var(--accent-color);
  transition: border-color 0.5s ease-in-out;
  .overlay {
    height: 100%;
    transition: height 0.5s ease-in-out;
  }
}
