:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --base-padding: 1.2rem;
  --bg-color: #071c21;
  --main-color: #153b44;
  --accent-color: #ff1e56;
  --app-color: #2d6e7e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

ul,
ol {
  list-style: none;
}

header {
  background-color: var(--bg-color);
}
body {
  flex-direction: column;
  background-color: var(--bg-color);
}
img {
  display: block;
}

button {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  padding: 0 var(--base-padding);
  line-height: 2rem;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--app-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: aliceblue;
}

button:hover {
  border-color: var(--accent-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

nav {
  padding: 0 var(--base-padding);
}
input {
  line-height: 2rem;
  padding: 0 var(--base-padding);
  margin-right: 1rem;
}
.container {
  max-width: 2400px;
  margin: 0 auto;
  padding: var(--base-padding) 0;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--base-padding);
}
.col-12 {
  flex-basis: 100%;
}
.col-3 {
  flex-basis: calc(100% / 3 - 1.2rem);
}
.language {
  display: flex;
  align-items: center;
}
.flag {
  max-width: 30px;
}

h2 {
  color: aliceblue;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
